.container {
    display: flex;
    align-items: center;
    border-bottom: 1.5px solid rgba(27, 27, 27, .1);
    padding: 4px 0px;
}

.productImage {
    width: 85px;
}

.productInfo {
    flex: 1;
    margin-left: 19px;
}

.productInfo .productCategory {
    font-weight: 400;
    font-size: 12px;
    color: rgba(27, 27, 27, .5);
}

.productInfo .productName {
    font-weight: 500;
    font-size: 16px;
    color: #1b1b1b;
    margin-top: 4px;
    margin-bottom: 2px;
}

.productInfo .productPrice {
    font-weight: 500;
    font-size: 16px;
    color: #000;
}